@model IEnumerable<Projeto_Web_CRUD.Models.Produto>

@{
    ViewData["Title"] = "Todos os produtos";
}

<h1>Todos os produtos</h1>

<p>
    <a asp-action="Create">Novo Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*<a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParam"]">ID do Produto</a>*@
                ID do Produto
            </th>
            <th>
                @*<a asp-action="Index" asp-route-sortOrder="@ViewData["NomeSortParam"]">Nome do Produto</a>*@
                Nome do Produto
            </th>
            <th>
                @*<a asp-action="Index" asp-route-sortOrder="@ViewData["CategoriaSortParam"]">Categoria do Produto</a>*@
                Categoria do Produto
            </th>
            <th>
                @*<a asp-action="Index" asp-route-sortOrder="@ViewData["VendedorSortParam"]">Vendedor</a>*@
                Vendedor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendedor.Nome)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.ProdutoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ProdutoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdutoId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
